<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SkyhookML</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="static/sidebar.css">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>

<div id="app" class="flex-container">

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<router-link class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#" :to="wsPrefix">SkyhookML</router-link>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="d-flex">
		<form class="d-flex align-items-center">
			<label class="mx-2">Workspace:</label>
			<select v-model="selectedWorkspace" @change="changedWorkspace" class="form-select form-select-sm mx-2">
				<option v-for="ws in workspaces" :key="ws" :value="ws">{{ ws }}</option>
			</select>
			<button type="button" class="btn btn-sm btn-danger mx-2" v-on:click="deleteWorkspace">Remove</button>
		</form>
		<form v-on:submit.prevent="createWorkspace" class="d-flex align-items-center ms-4">
			<input v-model="addForms.workspace.name" type="form-control form-control-sm" placeholder="New Workspace Name" class="mx-2" />
			<button type="submit" class="btn btn-sm btn-primary mx-2">New Workspace</button>
			<button type="button" class="btn btn-sm btn-primary mx-2" v-on:click="cloneWorkspace">Clone</button>
		</form>
	</div>
</header>


<div class="container-fluid flex-content">
<div class="row el-high">

	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="position-sticky pt-3">
			<ul class="nav flex-column">
				<li class="nav-item">
					<router-link class="nav-link" :to="wsPrefix" active-class="active" exact>
						<i class="bi bi-speedometer"></i>&nbsp;
						Dashboard
					</router-link>
				</li>
				<!-- Show current quickstart page in sidebar. -->
				<template v-if="$route.path.includes('/quickstart/import')">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/quickstart/import'" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Quickstart: Import
						</router-link>
					</li>
				</template>
				<template v-if="$route.path.includes('/quickstart/train')">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/quickstart/train'" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Quickstart: Train
						</router-link>
					</li>
				</template>
				<template v-if="$route.path.includes('/quickstart/apply')">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/quickstart/apply'" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Quickstart: Apply
						</router-link>
					</li>
				</template>

				<li class="nav-item">
					<router-link class="nav-link" :to="wsPrefix + '/datasets'" active-class="active" exact>
						<i class="bi bi-files"></i>&nbsp;
						Datasets
					</router-link>
				</li>
				<!-- If viewing a dataset, show it in sidebar. -->
				<template v-if="$route.params.dsid && $store.state.routeData.dataset">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/datasets/'+$route.params.dsid" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Dataset: {{ $store.state.routeData.dataset.Name }}
						</router-link>
					</li>
				</template>
				<!-- If viewing an item, show it in sidebar. -->
				<template v-if="$route.params.itemkey">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/datasets/'+$route.params.dsid+'/items/'+$route.params.itemkey" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							<i class="bi bi-arrow-right"></i>&nbsp;
							Item: {{ $route.params.itemkey }}
						</router-link>
					</li>
				</template>

				<li class="nav-item">
					<router-link class="nav-link" :to="wsPrefix + '/annotate'" active-class="active" exact>
						<i class="bi bi-pencil-square"></i>&nbsp;
						Annotate
					</router-link>
				</li>
				<!-- If viewing an annoset, show it in sidebar. -->
				<template v-if="$route.params.setid && $store.state.routeData.annoset">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/annotate/'+$store.state.routeData.annoset.Tool+'/'+$route.params.setid" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Annotating: {{ $store.state.routeData.annoset.Dataset.Name }}
						</router-link>
					</li>
				</template>
				<!-- Show add annotation set in sidebar. -->
				<template v-if="$route.path.includes('/annotate-add')">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/annotate-add'" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Add Annotation Dataset
						</router-link>
					</li>
				</template>

				<li class="nav-item">
					<router-link class="nav-link" :to="wsPrefix + '/pipeline'" active-class="active" exact>
						<i class="bi bi-diagram-3"></i>&nbsp;
						Pipeline
					</router-link>
				</li>
				<!-- If editing a node, show it in sidebar. -->
				<template v-if="$route.params.nodeid && $route.path.includes('/exec/') && $store.state.routeData.node">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/exec/'+$route.params.nodeid" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Editing: {{ $store.state.routeData.node.Name }}
						</router-link>
					</li>
				</template>

				<li class="nav-item">
					<router-link class="nav-link" :to="wsPrefix + '/jobs'" active-class="active" exact>
						<i class="bi bi-list-task"></i>&nbsp;
						Jobs
					</router-link>
				</li>
				<!-- If viewing a job, show it in sidebar. -->
				<template v-if="$route.params.jobid && $store.state.routeData.job">
					<li class="nav-item">
						<router-link class="nav-link" :to="wsPrefix+'/jobs/'+$route.params.jobid" active-class="active" exact>
							<i class="bi bi-arrow-right"></i>&nbsp;
							Job: {{ $store.state.routeData.job.Name }}
						</router-link>
					</li>
				</template>

				<hr />
				<li class="nav-item">
					<router-link class="nav-link" :to="wsPrefix + '/models'" active-class="active" exact>
						<i class="bi bi-box-seam"></i>&nbsp;
						Model Architectures
					</router-link>
				</li>
			</ul>
		</div>
	</nav>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3 pb-2 flex-container">
		<div v-if="error != ''" class="alert alert-danger alert-dismissible" role="alert">
			<strong>Error:</strong>
			{{ error }}
			<button type="button" class="btn-close" v-on:click="setError('')">
			</button>
		</div>
		<div class="flex-content">
			<router-view></router-view>
		</div>
	</main>
</div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
<script src="https://unpkg.com/konva@6.0.0/konva.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" integrity="sha256-iItBu0k/grx4e1B97uNd+Kncoy2fWeXkQ0M0uwSqHhc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

<script type="module" src="static/index.js"></script>

</body>
</html>
