<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SkyhookML</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div id="app" class="flex-container">
			<div>
				<form v-on:submit.prevent="changedWorkspace" class="form-inline my-2 float-left">
					<label class="ml-1">Workspace:</label>
					<select v-model="selectedWorkspace" @change="changedWorkspace" class="form-control ml-1">
						<option v-for="ws in workspaces" :key="ws" :value="ws">{{ ws }}</option>
					</select>
					<button type="button" class="btn btn-danger ml-1">Remove</button>
				</form>
				<form v-on:submit.prevent="createWorkspace" class="form-inline my-2 float-left">
					<input v-model="addForms.workspace.name" type="form-control" placeholder="Name" class="ml-4" />
					<button type="submit" class="btn btn-primary ml-1">New Workspace</button>
				</form>
			</div>
			<ul class="nav nav-pills" role="tablist">
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#" role="tab" v-on:click.prevent="setPage('datasets')">Datasets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#" role="tab" v-on:click.prevent="setPage('annotate')">Annotate</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#" role="tab" v-on:click.prevent="setPage('models')">Models</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#" role="tab" v-on:click.prevent="setPage('queries')">Queries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#" role="tab" v-on:click.prevent="setPage('explore')">Explore</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#" role="tab" v-on:click.prevent="setPage('jobs')">Jobs</a>
				</li>
			</ul>
			<div v-if="error != ''" class="alert alert-danger alert-dismissible" role="alert">
				<strong>Error:</strong>
				{{ error }}
				<button type="button" class="close" v-on:click="setError('')">
					<span>&times;</span>
				</button>
			</div>
			<div class="flex-content">
				<router-view @error="setError($event)"></router-view>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="https://unpkg.com/konva@6.0.0/konva.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" integrity="sha256-iItBu0k/grx4e1B97uNd+Kncoy2fWeXkQ0M0uwSqHhc=" crossorigin="anonymous"></script>

		<script type="module" src="static/index.js"></script>
	</body>
</html>
